

.calculadora{
    display: block;
    margin:0 auto;
    padding: 20px;
    background-color: darkslategrey;
    width: 400px;
    height: 510px;
    border-radius: 50px;
}

.calculadora div button{
    width: 75px;
    height: 75px;
    background-color: ghostwhite;
    border-radius: 50px;
    border-color: black;
    font-size: 20px;
}

#textoResultado { 
    display: block;
    text-align: center;
    font: 40px;
    background-color: dimgrey;
    border-radius: 50px;
    border-color: black;
    color: olive;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}


#igual{
    margin-left:5px;
    position: fixed;
    height: 150px;
    background-color: greenyellow;
}

#borrar{
    background-color: red;
}



